<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
	<bean id="quis" class="mypack.Question"> 
		<property name="qid" value="1"></property>
		<property name="qname" value="Java Features"></property>
		
		<property name="ans">
			<list>
      			    <value>Simple</value>
					<value>Secure</value>
					<value>Robust</value>
			</list>
		</property>
	</bean>       
       
       
       
</beans>
