<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="  
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
 <bean id="quis" class="mypack.Question">
 	<property name="qid" value="105"> </property> 
 	<property name="qname" value="What is c"></property>
 	
 	<property name="ans">
 		<map >
 			<entry key ="Middle Level Programming Language" value="Shubham"></entry>
 			<entry key="Developed my Deniss Ritche" value="Harshal"></entry>
 		</map>
 	</property> 
 
 </bean>      
 </beans>