<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
       
 <bean id="quis" class="mypack.Question">
 		<constructor-arg value="101"></constructor-arg>
 		<constructor-arg value="What is Java"></constructor-arg>
 		<constructor-arg>
 				<list>
 						<value >Java Framework</value>
 						<value >Automatic Table Creation</value>
 				</list>
		</constructor-arg>
 
  </bean>  
      
       
</beans>
