<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="add" class="mypack.Address">
        <constructor-arg value="Akola"/>
        <constructor-arg value="Maharashtra"/>
    </bean>
  
	<bean id="emp" class="mypack.Employee">
		<constructor-arg value="203"></constructor-arg>
		<constructor-arg value="Rahul"></constructor-arg>
		<constructor-arg value="Pimpri"></constructor-arg>
		<constructor-arg value="20000"></constructor-arg>
		<constructor-arg ref="add"></constructor-arg>
	</bean>  
 </beans>